extends layout

block content
    div.container
        div.row
            div.col-md-12
                div(style='height: 330px;').jumbotron
                    img(src="/img/dbase.png").airplane-logo
                    div.hero-content
                        h1 Node.js + MySQL
                        p Шаньгина Дарья & Шолохов Артём, СПб ГУТ 2014