extends layout

block content
    div.container
        div.row
            div.col-md-3
                div.panel.panel-info
                    div.panel-heading
                        h3.panel-title Фильтрация
                    div.panel-body
                        div.input-group.fix-width
                            span.input-group-addon Дата вылета:
                            input(type="text", readonly="").form-control#dpdate
                    ul.list-group
                        li.list-group-item.fix-width
                            div.input-group
                                span.input-group-addon Откуда:
                                select.form-control#from-list
                        li.list-group-item.fix-width
                            div.input-group
                                span.input-group-addon Куда:
                                select.form-control#to-list
                        li.list-group-item.fix-width
                            div.input-group
                                span.input-group-addon Цена <=
                                input(type="number", value="5000")#price.form-control
                        li.list-group-item.fix-width
                            div.input-group
                                span.input-group-addon Компания:
                                select.form-control#comp-list
                        li.list-group-item
                            button(type="button", data-loading-text="Поиск...").btn.btn-success.btn-block#search-btn Найти билеты

            div.col-md-9#ticket-list
                include t_list
                br