extends layout

block content
    div.container
        div.row
            div.col-md-12
                div(style='height: 330px;').jumbotron
                    img(src="/img/air3.png").airplane-logo
                    div.hero-content
                        h1 Fly Me Away
                        p Онлайн продажа билетов на самолёты по всему миру.
                        a(href="/find", role="button").btn.btn-primary.btn-lg Найти билет