doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/datepicker/css/datepicker.css')

        script(type="text/javascript", src="/vendor/moment/moment.js")
        script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
        script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript", src="/vendor/datepicker/js/bootstrap-datepicker.js")

        script(type="text/javascript", src="/js/common.js")
    body
    nav(role='navigation').navbar.navbar-default.navbar-fixed-top
      div.container-fluid
          div.navbar-header
              a(href='/').navbar-brand [ Fly Me Away ]
          div.collapse.navbar-collapse
              ul.nav.navbar-nav
                li: a(href="/") Главная
                li: a(href="/find") Поиск
              div.navbar-right
                  a(href="/about"): button(type='button').btn.btn-default.navbar-btn О сайте

    block content
