div.list-group
    if tickets.length
        each tick in tickets
            a(href="#").list-group-item
                h4.list-group-item-heading Рейс из: #{tick.c_from} до: #{tick.c_to} &nbsp;
                    span.label.label-success #{tick.price}  P
                div.ticket-info.list-group-item-text
                    p Время вылета: #{tick.f_day}
                    p Количество билетов: &nbsp;
                        span.badge.js-tcount #{tick.tickets}
                    p Авиакомпания: #{tick.company} &nbsp;
                        span.badge рейтинг: #{tick.rating}
                    button(type="button", id="tick_#{tick.id}").btn.btn-success.pull-right.js-buy-btn Купить билет
                    div.clearfix
    else
        a(href="#").list-group-item
            h4.list-group-item-heading Билетов нет