body {
  padding-top: 80px;
}

.airplane-logo {
  margin-left: 100px;
  float: left;
}

.hero-content {
  margin-left: 400px;
}

.fix-width {
  width: 100% !important;

  .input-group {
    width: 100%;
  }

  span {
    width: 110px !important;
  }
}

.ticket-info {
  margin-left: 20px;
}